

<div class="card">
     <div class="card-header">
          <img src="../../assets/react.js-img.png" alt="" class="card-img-top" width="fit-content" height="200px">
     </div>
     <div class="card-body">
          <h4 class="card-title">JavaScript</h4>
          <p>The React. js framework  Nobis facilis excepturi dolorum adipisci nisi aliquam.The React. js framework  Nobis facilis excepturi dolorum adipisc</p>
     </div>
     <div class="card-footer">
          <button class="btn btn-danger form-control" (click)="onEnroll()">Enroll</button>
     </div>
 </div>
 