<p class="display-2 text-center bg-warning fw-bold text-white">JavaScript Frameworks & Libraries</p>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-3"><app-angular></app-angular></div>
    <div class="col-md-3"><app-reactjs></app-reactjs></div>
    <div class="col-md-3"><app-vuejs></app-vuejs></div>
    <div class="col-md-3"><app-js></app-js></div>
  </div>  
  <button mat-raised-button color="primary">Primary</button>
  <div class="row">
    <div class="col-md-4">
      <mat-card class="example- bordered">
        
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-4">
      <app-check-box></app-check-box>
    </div>
  </div>
 
</div>
